# .env.example
# IMPORTANT:
#   Do **NOT** edit this file (.env.example).
#   Make a copy first with the name: .env
#   Then edit the copy: .env
#
# NOTE:
#   Do not forget the dot (`.`) before "env" when renaming the copied file.
#
# This file (.env.example) is a template/EXAMPLE of the .env file for this project.
#
# USAGE:
#     cp .env.example .env # Copy this file and rename the copy .env
#     Edit .env and modify the variables according to your local database configuration.
#
# IMPORTANT:
#   Never, ever commit your .env file.
#   It contains sensitive information (credentials, hostname, port number...)
# .gitignore is configured to act as a guard rails to prevent this, but keep this in mind.

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Database Connection Configuration
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=TODO_USERNAME_HERE
DATABASE_PASSWORD=TODO_PASSWORD_HERE
DATABASE_NAME=marsai

# mysql://joe:joe_password@localhost:3306/my_datbase
DATASOURCE_URL=mysql://TODO_USERNAME_HERE:TODO_PASSWORD_HERE@localhost:3306/marsai

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Express Server Configuration
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
SERVER_PORT=3000
NODE_ENV=dev